/**************** CONTAINER **************/
.jumbotron {
  color: #2196f3;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.jumbo-1 {
  background: url('img/jumbo.png') no-repeat;
  background-position: right;
  height: 300px;
  border-bottom: 3px solid #2196f3;
}

.container-content-home {
  padding-bottom: 40px;
  background: #f8f8f8;
}
.container-content-main {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f8f8f8;
}
.container-existing-product {
  padding-top: 10px;
  padding-bottom: 40px;
}
.container-group {
  padding-top: 30px;
  padding-bottom: 30px;
}
/*****************************************/

/****************** TREE *****************/
#groupTree {
  border-right: 1px solid #2196f3;
  margin-right: 20px;
  height: auto;
}

ul.dynatree-container li {
  margin: -5px 0 0 0 !important;
}
ul.dynatree-container {
  overflow: hidden;
}

.disabled-check{
	opacity: 0.4;
}
.disabled-check-req{
	opacity: 0.4;
}
.disabled-check > .dynatree-node > .dynatree-checkbox:hover{
	background-position: 0px -32px !important;
}
.disabled-check-req > .dynatree-node > .dynatree-checkbox:hover{
	background-position: -32px -32px !important;
}
.disabled-check a:hover{
	background-color: transparent !important;
	border-color: transparent !important;
}
.disabled-check-req a:hover{
	background-color: transparent !important;
	border-color: transparent !important;
}
/*****************************************/

/**************** HELPERS ****************/
.breadcrumb {
  padding-left: 50px;
}
.border-top{
	border-top: 1px solid rgba(195,200,207,0.5);
}
.hidden{
	display: none;
}
.page-list li{
	padding: 1px;
	margin-bottom: 2px;
}
.error-text{
	font-size: small;
	color: red;
}
.line-s {
  border: 1px solid #2196f3;
  border-radius: 2px;
  text-align: center;
  width: 100px;
  margin-bottom: 35px;
}
.line-l {
  border: 1px solid #2196f3;
  border-radius: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
}
/*****************************************/

/**************** FOOTER *****************/
footer {
	padding-top: 10px;
	padding-bottom: 10px;
}
.container-footer{
	position: relative;
	bottom: 0;
	width: 100%;
	color: white;
	background-color: #3C3C3C;
}
/*****************************************/